@media (width < 750px) {
	.header__pipesImage {
		grid-column: span 2;
		width: 150px;
	}
	.header__grid {
		max-width: 80%;
		margin: auto;
		min-height: -webkit-fill-available;
		margin-bottom: 6rem;
	}
	.header__grid {
		& h1 {
			grid-column-start: span 2;
			font-size: 2.5rem;
		}
	}
	.header__grid > h3 {
		/* grid-column: span 2; */
		font-size: 1.9rem;
	}
}
@media (width < 500px) {
	.header__grid > h1 {
		font-size: 2rem;
	}
}
